# Load & Understand the Data (Python)

Purpose

Get the data into Python and understand its structure.

Business Meaning

Before answering business questions, we must understand what data we have and how reliable it is.

In [1]:
# Import core libraries
import pandas as pd
import numpy as np

# Load the CSV file
df = pd.read_csv("HRDataset_v14.csv")

# View first few rows
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,Adinolfi Wilson K,10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,Ait Sidi Karthikeyan,10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,Akinkuolie Sarah,10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,AlagbeTrina,10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,01-03-2019,0,15
4,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,02-01-2016,0,2

In [2]:
df.tail()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
306,Woodson Jason,10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,Ybarra Catherine,10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,09-02-2015,5,4
308,Zamora Jennifer,10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,Zhou Julia,10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,02-01-2019,0,11
310,Zima Colleen,10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [3]:
# Understand structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

In [4]:
# Basic shape
df.shape

(311, 36)

In [5]:
df.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,303.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,16.845659,6555.482315,14.570957,4.110000,3.890675,1.218650,0.414791,10.237942
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,6.223419,16908.396884,8.078306,0.789938,0.909241,2.349421,1.294519,5.852596
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,1.000000,1013.000000,1.000000,1.120000,1.000000,0.000000,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,18.000000,1901.500000,10.000000,3.690000,3.000000,0.000000,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,19.000000,2132.000000,15.000000,4.280000,4.000000,0.000000,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,20.000000,2355.000000,19.000000,4.700000,5.000000,0.000000,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,30.000000,98052.000000,39.000000,5.000000,5.000000,8.000000,6.000000,20.000000

# Data Type Fixing & Basic Cleaning

Purpose

Ensure dates and numeric fields behave correctly.

Business Meaning

Incorrect data types can lead to wrong attrition rates, tenure, and performance insights.

In [6]:
# Convert date columns to datetime
date_cols = [
    "DOB",
    "DateofHire",
    "DateofTermination",
    "LastPerformanceReview_Date"
]

for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce")

In [7]:
df.dtypes

Employee_Name                         object
EmpID                                  int64
MarriedID                              int64
MaritalStatusID                        int64
GenderID                               int64
EmpStatusID                            int64
DeptID                                 int64
PerfScoreID                            int64
FromDiversityJobFairID                 int64
Salary                                 int64
Termd                                  int64
PositionID                             int64
Position                              object
State                                 object
Zip                                    int64
DOB                           datetime64[ns]
Sex                                   object
MaritalDesc                           object
CitizenDesc                           object
HispanicLatino                        object
RaceDesc                              object
DateofHire                    datetime64[ns]
DateofTermination             datetime64[ns]
TermReason                            object
EmploymentStatus                      object
Department                            object
ManagerName                           object
ManagerID                            float64
RecruitmentSource                     object
PerformanceScore                      object
EngagementSurvey                     float64
EmpSatisfaction                        int64
SpecialProjectsCount                   int64
LastPerformanceReview_Date    datetime64[ns]
DaysLateLast30                         int64
Absences                               int64
dtype: object

In [8]:
# Check missing values
df.isna().sum().sort_values(ascending=False)

DateofTermination             253
DOB                           169
DateofHire                    138
LastPerformanceReview_Date    127
ManagerID                       8
ManagerName                     0
TermReason                      0
EmploymentStatus                0
Department                      0
Employee_Name                   0
HispanicLatino                  0
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
DaysLateLast30                  0
RaceDesc                        0
CitizenDesc                     0
EmpID                           0
FromDiversityJobFairID          0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
Salary                          0
MaritalDesc                     0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
Sex                             0
Absences                        0
dtype: int64

“Missing values in termination and hire dates were treated as meaningful indicators rather than errors. Active employees naturally lack termination dates, and age/tenure calculations were restricted only to valid records to avoid distortion.”

In [39]:
df.duplicated().sum()

0

In [9]:
df["ManagerID"] = df["ManagerID"].fillna("Unknown")

# Feature Engineering (Critical Business Logic)

Purpose

Create meaningful business variables.

Business Meaning

Raw HR data is not enough — derived metrics drive insights.

In [13]:
# Create Attrition Flag (Target Variable)
df["Attrition"] = df["Termd"].apply(lambda x: 1 if x == 1 else 0)

In [14]:
# Calculate Age
df["Age"] = (pd.Timestamp("today") - df["DOB"]).dt.days // 365

In [15]:
# Calculate Tenure (in years)
df["Tenure_Years"] = np.where(
    df["DateofTermination"].notna(),
    (df["DateofTermination"] - df["DateofHire"]).dt.days / 365,
    (pd.Timestamp("today") - df["DateofHire"]).dt.days / 365
)

In [38]:
df.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                           169
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                    138
DateofTermination             253
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       0
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date    127
DaysLateLast30                  0
Absences                        0
Attrition                       0
Age                           169
Tenure_Years                  138
dtype: int64

“Age was derived from date of birth. Records without DOB naturally result in missing age values, which were intentionally preserved to avoid introducing artificial demographic data.”

# High-Level Workforce Overview

Purpose

Establish baseline workforce metrics.

Business Meaning

Leadership needs a snapshot of organizational health.

In [16]:
# Workforce KPIs
total_employees = len(df)
active_employees = (df["Attrition"] == 0).sum()
attrition_rate = df["Attrition"].mean()

total_employees, active_employees, attrition_rate

(311, 207, 0.33440514469453375)

In [17]:
# Employees by Department
dept_summary = (
    df.groupby("Department")
      .agg(
          Employees=("EmpID", "count"),
          Attrition_Rate=("Attrition", "mean"),
          Avg_Performance=("EngagementSurvey", "mean")
      )
      .reset_index()
)

dept_summary.head()

          Department  Employees  Attrition_Rate  Avg_Performance
0      Admin Offices          9        0.222222         4.393333
1   Executive Office          1        0.000000         4.830000
2              IT/IS         50        0.200000         4.154000
3  Production               209        0.397129         4.129569
4              Sales         31        0.161290         3.818710

# Attrition Driver Analysis

Purpose

Identify where and why employees leave.

Business Meaning

Attrition is the core business problem tied to cost and productivity.

In [20]:
# Attrition by Department
attrition_by_dept = (
    df.groupby("Department")["Attrition"]
      .mean()
      .sort_values(ascending=False)
)

attrition_by_dept

Department
Production              0.397129
Software Engineering    0.363636
Admin Offices           0.222222
IT/IS                   0.200000
Sales                   0.161290
Executive Office        0.000000
Name: Attrition, dtype: float64

In [21]:
# Attrition vs Performance
attrition_perf = (
    df.groupby("PerformanceScore")["Attrition"]
      .mean()
      .sort_values(ascending=False)
)

attrition_perf

PerformanceScore
Needs Improvement    0.555556
PIP                  0.384615
Fully Meets          0.333333
Exceeds              0.216216
Name: Attrition, dtype: float64

In [22]:
# Attrition vs Engagement
df.groupby(pd.cut(df["EngagementSurvey"], bins=5))["Attrition"].mean()

C:\Users\asusl\AppData\Local\Temp\ipykernel_16528\2319991561.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(pd.cut(df["EngagementSurvey"], bins=5))["Attrition"].mean()

EngagementSurvey
(1.116, 1.896]    0.000000
(1.896, 2.672]    0.500000
(2.672, 3.448]    0.350000
(3.448, 4.224]    0.326087
(4.224, 5.0]      0.327044
Name: Attrition, dtype: float64

# Performance & Engagement Analysis

Purpose

Understand productivity and morale.

Business Meaning

Low engagement often precedes performance decline and exits.

In [23]:
# Performance by Department
performance_dept = (
    df.groupby("Department")["EngagementSurvey"]
      .mean()
      .sort_values(ascending=False)
)

performance_dept

Department
Executive Office        4.830000
Admin Offices           4.393333
IT/IS                   4.154000
Production              4.129569
Software Engineering    4.061818
Sales                   3.818710
Name: EngagementSurvey, dtype: float64

In [24]:
# Correlation between engagement and performance
df[["EngagementSurvey", "EmpSatisfaction", "Absences"]].corr()

                  EngagementSurvey  EmpSatisfaction  Absences
EngagementSurvey          1.000000         0.187105 -0.008771
EmpSatisfaction           0.187105         1.000000  0.075222
Absences                 -0.008771         0.075222  1.000000

In [25]:
df.shape

(311, 39)

# Checking Outliers for Understanding

In [26]:
def iqr_outliers(series):
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    return lower_bound, upper_bound

In [27]:
lb_salary, ub_salary = iqr_outliers(df["Salary"])

df_salary_outliers = df[
    (df["Salary"] < lb_salary) | (df["Salary"] > ub_salary)
]

df_salary_outliers[["Employee_Name", "Position", "Department", "Salary"]].head()

              Employee_Name                Position     Department  Salary
1   Ait Sidi Karthikeyan                    Sr. DBA          IT/IS  104437
18             Becker Renee  Database Administrator          IT/IS  110000
25              Booth Frank    Enterprise Architect          IT/IS  103613
26         Boutwell Bonalyn          Sr. Accountant  Admin Offices  106367
39          Carr Claudia  N                 Sr. DBA          IT/IS  100031

In [28]:
lb_abs, ub_abs = iqr_outliers(df["Absences"])

df_abs_outliers = df[
    (df["Absences"] < lb_abs) | (df["Absences"] > ub_abs)
]

df_abs_outliers[["Employee_Name", "Absences", "PerformanceScore", "Attrition"]].head()

Empty DataFrame
Columns: [Employee_Name, Absences, PerformanceScore, Attrition]
Index: []

In [29]:
lb_late, ub_late = iqr_outliers(df["DaysLateLast30"])

df_late_outliers = df[
    (df["DaysLateLast30"] < lb_late) | (df["DaysLateLast30"] > ub_late)
]

df_late_outliers[["Employee_Name", "DaysLateLast30", "Attrition"]].head()

       Employee_Name  DaysLateLast30  Attrition
23     Blount Dianna               2          0
32   Bunbury Jessica               1          1
53      Cole Spencer               5          1
54  Corleone Michael               3          0
64         Dee Randy               2          0

In [30]:
lb_eng, ub_eng = iqr_outliers(df["EngagementSurvey"])

df_eng_outliers = df[
    (df["EngagementSurvey"] < lb_eng) | (df["EngagementSurvey"] > ub_eng)
]

df_eng_outliers[["Employee_Name", "EngagementSurvey", "PerformanceScore"]].head()

     Employee_Name  EngagementSurvey   PerformanceScore
23   Blount Dianna              2.00  Needs Improvement
53    Cole Spencer              2.00  Needs Improvement
67    Delarge Alex              1.93                PIP
69  Desimone Carl               1.12                PIP
86   Exantus Susan              2.10  Needs Improvement

In [31]:
outlier_summary = {
    "Salary": len(df_salary_outliers),
    "Absences": len(df_abs_outliers),
    "DaysLateLast30": len(df_late_outliers),
    "EngagementSurvey": len(df_eng_outliers)
}

outlier_summary

{'Salary': 29, 'Absences': 0, 'DaysLateLast30': 33, 'EngagementSurvey': 9}

# Save cleaned data as CSV

In [34]:
# Save cleaned dataset to CSV
df.to_csv("hr_employees_clean.csv", index=False)

In [35]:
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,Attrition,Age,Tenure_Years
0,Adinolfi Wilson K,10026,0,0,1,1,5,4,0,62506,...,Exceeds,4.60,5,0,2019-01-17,0,1,0,42.0,14.575342
1,Ait Sidi Karthikeyan,10084,1,1,1,5,3,3,0,104437,...,Fully Meets,4.96,3,6,2016-02-24,0,17,1,50.0,NaN
2,Akinkuolie Sarah,10196,1,1,0,5,5,3,0,64955,...,Fully Meets,3.02,3,0,2012-05-15,0,3,1,NaN,1.224658
3,AlagbeTrina,10088,1,1,0,1,5,3,0,64991,...,Fully Meets,4.84,5,0,NaT,0,15,0,NaN,18.068493
4,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,Fully Meets,5.00,4,0,NaT,0,2,1,36.0,14.558904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,Woodson Jason,10135,0,0,1,1,5,3,0,65893,...,Fully Meets,4.07,4,0,2019-02-28,0,13,0,40.0,11.567123
307,Ybarra Catherine,10301,0,0,0,5,5,1,0,48513,...,PIP,3.20,2,0,NaT,5,4,1,43.0,7.076712
308,Zamora Jennifer,10010,0,0,0,1,3,4,0,220450,...,Exceeds,4.60,5,6,2019-02-21,0,16,0,NaN,15.810959
309,Zhou Julia,10043,0,0,0,1,3,3,0,89292,...,Fully Meets,5.00,3,5,NaT,0,11,0,NaN,NaN
310,Zima Colleen,10271,0,4,0,1,5,3,0,45046,...,Fully Meets,4.50,5,0,2019-01-30,0,2,0,NaN,NaN